@import "tailwindcss";
@font-face {
  font-family: 'Caveat';
  src: url('assets/fonts/Caveat.ttf');
}
@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/Inter.ttf');
}
@theme {

}
@layer utilities {
  .bg-header-gradient {
    background: #011267 radial-gradient(circle, rgb(0, 14, 71) 0%, rgb(0, 0, 0) 100%)!important;
    background-size: 200% 100%;
    background-position: 0 50%;
    background-repeat: no-repeat;
  }
  .font-special {
    font-family: 'Caveat', cursive;
  }
  .bg-main-img {
    background-image: url('assets/background/code.jpg');
    background-size: cover;

  }
  .bg-main{
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(4px) saturate(150%);
    -webkit-backdrop-filter: blur(7px) saturate(150%);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.6);
    color: #ffffff;
  }

  .font-regular {
    font-family: 'Inter', sans-serif;
  }
  @keyframes gradient-breathe {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }
  @keyframes gradient-fly {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }

  .animate-gradient-breathe {
    animation: gradient-breathe 6s ease infinite;
  }
  .animate-gradient-breathe-fast {
    animation: gradient-fly 3s linear infinite;
  }
}
body {
  background: #02071b;
  cursor: default;
}
#root {
  max-width: 1920px;
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;
}
:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: white;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.active-project {
  border-radius: 5px;
  padding-inline: 10px;
  border: 1px solid #011267FF;
}